/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.4%;
}

input {
    font-size: 1.5rem;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

p, li {
    font-size: 1.5rem;
}

h1 {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .6rem;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 1rem;
    outline: none;
}

button {
    cursor: pointer;
    padding: .9rem;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 1.5rem;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.logo__chatMe{
    margin-bottom: 1.5rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.title__main{
    font-family: 'Fredoka One', cursive;
    font-size: 3.3rem;
    color: whitesmoke;

    animation: slideLeft .6s ease-in;
    
}

.img__main {
    animation: slideRight .6s ease-in;
}

@keyframes slideLeft{
    0% { opacity: 0; transform: translateX(-15rem); }
    100% { opacity:1; transform: translateX(0); }
}
@keyframes slideRight{
    0% { opacity: 0; transform: translateX(15rem); }
    100% { opacity:1; transform: translateX(0); }
}

.footer__chatMe{
    font-size: 1.5rem;
    font-style: sans-serif;
    color: whitesmoke;
    width: 75%;
}

.footer__1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__2{
    margin-top: 3rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    margin: 0;
    padding: 0;
    text-align: center;
}

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 1.8rem;
    width: 24rem;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 1.5rem;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

@media (max-width: 600px) {
    .chat {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .chat__sidebar {
        max-height: 30vh;
        min-width: 100vw;
    }
    .chat__main {
        height: 70vh;
        width: 100vw;
    }    
  }

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 24rem;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 1.8rem 1.8rem 0 1.8rem;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 1.5rem;   
}

.message__name {
    font-weight: 600;
    font-size: 1.5rem;
    margin-right:.9rem;
}

.message__meta {
    color: #777;
    font-size: 1.5rem;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 1.8rem;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 1.5rem;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 1.2rem;
    margin: 0 1.5rem 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 1.5rem;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 2.4rem;
    background: #2c2f3a;
    padding: 2.1rem;   
}

.list-title {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: .45rem;
    padding: 1.2rem 1.8rem 0 1.8rem;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 1.2rem 2.1rem 0 2.1rem;
}